body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

.column {
  flex-direction: column;
}

.login-center{
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding:10px 20px;
  border-radius:5px;
  background-color:#039be5;
}

.app-container{
  flex-direction: row;
  display:flex;
  height: calc(100vh - 68px);
}

.app-sidepanel{
  width:300px;
  background-color:#1c9954;
  border-right:2px solid #d4d4d4;
  padding:0px 20px;
}

.app-content{
  padding:0px 20px;
  width:100%;
}

.header{
  background-color:#d4d4d4;
  padding:0px;
  overflow:hidden;
}

.auth-button{
  float:right;
  margin-right: 10px;
}

input, button{
  margin:10px;
}

table{
  border: 0px;
  border-collapse: collapse; border-spacing: 0; /* cellspacing */
}
/* td{padding:5px;} */
tr:nth-child(even) {background: rgb(224, 224, 224)}
/* 
.app-table{
  overflow: scroll;
  max-height:calc(90% - 350px)
} */

.p-chart{
  width:45vw;
  padding:10px calc(25% - 70px);
}